html { box-sizing: border-box; }
* { box-sizing: inherit; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
}

a {
  color: #00B7FF;
}

.row {
  width: 100%;
}

.cell {
  position: relative;
  width: calc(100% / 5);
  height: 0;
  padding-bottom: calc(100% / 5);
  display: inline-block;
  vertical-align: top;
}

.cover {
  position: absolute;
  background-color: #29E9B9;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  z-index: 10;
  border-radius: 10px;
  opacity: 0.5;
}

.count {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  z-index: 0;
  font-size: 32px;
}

.hide {
  opacity: 0;
  transition: opacity 1s;
}
